<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xfocus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/xfocus"
        android:label="@string/app_name"
        android:roundIcon="@drawable/xfocus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePages.HomeActivity">

        </activity>
        <activity android:name=".HomePages.Dashboard" />
        <activity android:name=".StartPages.Login" />
        <activity android:name=".StartPages.ClientNo" />
        <activity android:name=".StartPages.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>